/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 50px;
  text-underline-offset: 4px;
  font-size: 18px;
}

.header__menu {}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {}

.header__link-active,
.header__link:hover {
  text-decoration: none;
}

.header__address {
  max-width: 240px;
  line-height: 1.35;
  justify-self: end;
  font-style: normal;
}

.header__address a {
  text-underline-offset: 4px;
  display: block;
}

.address {}